# ignore everything in the dataset folder
dataset/*
basic-processed/*

# ignore log files
*.log

# vscode settings
.vscode/*

# intellij idea settings
.idea/*

# ignore pycache
__pycache__

# saved model
doc2vec/*

# exception
!dataset/titles_fetched.json
